<dl>
    <dt class="header">进行中的任务</dt>
    <dd>
        <table>
            <tbody ng-repeat="at in atk.progress">
                <tr ui-sref-active="selected">
                    <td ng-if="!$stateParams.type">
                        <button ng-click="atk.changeStatus(at.id, 2)">-></button>
                    </td>
                    <td>
                        <div class="title {{C.STATUS_TYPE[at.status]}}">
                            <a ui-sref="task.type.detail({type:'progress', id: at.id })">{{at.title}}</a>
                        </div>
                        <div class="time">{{at.updateTime | date: 'yyyy-MM-dd HH:mm' }}</div>
                    </td>
                    <td ng-if="!$stateParams.type">
                        <button ng-click="atk.changeStatus(at.id, -1)"><-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </dd>
</dl>